@{
    ViewData["Title"] = "Login Page";
}



@using (Html.BeginForm()) {
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginPage</title>
</head>


<style>
    body {
      
        padding: 0;
        margin: 0;
    }



    .loginbox {
        width: 25%;
        height: auto;
        background: #0009;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        padding: 60px 30px;
        border-radius: 20px;
 
    }
    .loginbox h1{
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: bold;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:#ed7821
              
    }
    .loginbox p{
        margin: 0;
        padding: 0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
        color:#fff
        
           
    }

    .loginbox input[type="text"],input[type="password"]{
        width: 100%;
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }

 
        .loginbox button {
            border: none;
            outline: none;
            height: 40px;
            background-color: #ed7821;
            font-size: 18px;
            cursor: pointer;
            width: 100%;
        }
 
     
   
</style
<body>

    <div class="loginbox">
        <h1>Login here</h1>
        <form>
            <p> username</p>
            <input type="text" name="username" />
        </form>
        <p>password</p>
        <input type="password" name="password">
        <br>
        <button type="submit">Login</button>
    </div>

    @{
       
        if (TempData["msg"]!=null){
            <script>
                alert('@TempData["msg"]')

        </script>
    }

    }
</body>
</html>




}
